<% actionName = "#{controller.controller_name}##{controller.action_name}" %>
<% if actionName == "rooms#index" %>
  <% actionPath = '/rooms' %>
<% elsif actionName == "rooms#show" %>
  <% actionPath = @room %>
<% end %>

<div class="">
  <div class="form-group py-4 left_menu_search bg-white">
    <%= form_with(url: actionPath, method: :get, local: true) do |f| %>
      <%= f.text_field :room_keyword,class: "form-control",placeholder: "トークルームを検索"%>
    <% end %>    
  </div>  

  
  <div class="left_menu_scroll">
    <%=render 'rooms/index',anotherEntries: @anotherEntries%>
  </div>  
</div>

