
<div class="dropup text-right">

	<a href="#" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-cog"></i>
	</a>    
  <div class="dropdown-menu">
    
      <%= link_to 'My profile', user_path(current_user),class: "dropdown-item" %>
      <%=link_to "ログアウト", destroy_user_session_path, method: :delete ,class: "dropdown-item"%>       
    
  </div>
</div> 